<%- include head%>

<title>Jogi információk - MarkMyDoctor</title>
<%- include body%>


<div class="container-fluid">
    <div class="row">
        <div class="col "></div>
        <div class="col-10 col-md-6 text-center">
            <h1 class="h2 mb-4 text-gray-800 ">Jogi információk</h1>
            <h2 class="h4 mb-4 text-gray-800 pc"> Ha Ön mint orvos nem járul hozzá, hogy megtalálható legyen az
                oldalon, kérem keressen fel az <a href="mailto:info@markmydoctor.hu"><b>&nbspinfo@markmydoctor.hu&nbsp</b></a> email címen!</h2>
            <h2 class="h4 mb-4 text-gray-800 phone"> Ha Ön mint orvos nem járul hozzá, hogy megtalálható legyen az
                oldalon, kérem keressen fel <a href="mailto:info@markmydoctor.hu"><b>&nbspezen&nbsp</b></a> az email címen!</h2>
            <h2 class="h4 mb-4 text-gray-800 "> Az oldalon található információk aktualitásáért felelősséget nem vállalunk. </h2>
            <h2 class="h4 mb-4 text-gray-800 "> Az oldal egy ötletnek indult, nincs mögötte semmilyen szervet. </h2>
            <h2 class="h4 mb-4 text-gray-800 "> A kommentelni és értékelni csak regisztrálás után lehet. Az oldal nem tárólja, hogy ki írta a bejegyzést, ezért nem kell tartani az esetleges következményektől. </h2>
            <h2 class="h4 mb-4 text-gray-800 "> Kommentelni csak kulturált módon lehet, az esetleges trágár kommentek el lesznek távolítva. </h2>
            <h2 class="h4 mb-4 text-gray-800 pc"> Minden más kérdéssel kérem fordúljon hozzánk bizalommal <a href="mailto:info@markmydoctor.hu"><b>&nbspinfo@markmydoctor.hu&nbsp</b></a>.</h2>
            <h2 class="h4 mb-4 text-gray-800 phone"> Minden más kérdéssel kérem fordúljon hozzánk bizalommal <a href="mailto:info@markmydoctor.hu"><b>&nbspezen&nbsp</b></a> az email címen.</h2>
            <h2 class="h4 mb-4 text-gray-800 ">  .</h2>
        </div>
        <div class="col"></div>
    </div>



</div>
</div>





<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; MarkMyDoctor</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>
</body>

</html>