<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description"
    content="Orvos keresése, orvos véleményezése, vélemények megosztása,Bőrgyógyász, Csecsemő - gyermekgyógyász, Fiziológus, Fogorvos, Fül-orr-gégész, Gyermek fül-orr-gégész, Gyermekkardiológus, Gyermekneurológus, Gyermeknőgyógyász, Gyermekpszichiáter, Gyermeksebész, Gyermekszemész, Gyermektüdőgyógyász, Házi gyermekorvos, Idegsebész, Ifjúságpszichiáter, Kardiológus, Neurológus, Nőgyógyász, Pszichiáter, Pszichológus, Szemész" />
  <meta name="keywords"
    content="milyen orvos, doktor, egészségügy, beteg, kórház, háziorvos , szakorvos, gyermekorvos, orvost keresek, orvos ajánló, szakrendelés, markmydoctor, Markmydoctor, orvos, beteg, értékelés, orvos értékelés">
  <meta name="author" content="Csillag Bence Róbert">
  <meta name="language" content="HU">
  <meta name="rating" content="general">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="doc2.png" />
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />
  <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
</head>

<body id="page-top">

  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion pc" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
          <i class="fas fa-user-md"></i>
        </div>
        <div class="sidebar-brand-text mx-3">MarkMyDoctor</div>
      </a>
      <hr class="sidebar-divider my-0" />
      <li class="nav-item">
        <a class="nav-link" href="/new">
          <i class="fas fa-fw fa-user-plus"></i>
          <span>Új doktor felvétele</span></a>
      </li>

      <hr class="sidebar-divider" />
      <%if(logged){%>
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="fas fa-fw fa-sign-in-alt"></i>
          <span>Kilépés</span></a>
      </li>
      <%}else{%>
      <li class="nav-item">
        <a class="nav-link" href="/login">
          <i class="fas fa-fw fa-sign-in-alt"></i>
          <span>Belépés</span></a>
      </li>
      <%}%>
      <%if(logged){%>
      <%}else{%>
      <hr class="sidebar-divider" />
      <li class="nav-item">
        <a class="nav-link" href="/register">
          <i class="fas fa-fw fa-plus"></i>
          <span>Regisztráció</span></a>
      </li>
      <%}%>
      <hr class="sidebar-divider" />
      <li class="nav-item">
        <a class="nav-link" href="/law"  title="Jogi információk">
          <i class="fas fa-gavel"></i>
          <span>Tudnivalók és jogi információk</span></a>
      </li>

      <hr class="sidebar-divider d-none d-md-block" />


      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>



    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow pc">
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <form method="POST" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Keresés..."
                name="search"/>
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search" method="POST">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Keresés..."
                      aria-label="Search" aria-describedby="basic-addon2" name="search"/>
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <%if(user){%>
            <div class="topbar-divider d-none d-sm-block"></div>           
            <li class="nav-item dropdown no-arrow pc">
              <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=user%></span>
              </a>
            </li>
            <%}%>
          </ul>
        </nav>

<%# //////////////////////////////////////////// %>
      <nav class="navbar navbar-expand-lg navbar-light bg-gradient-primary phone ">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon text-white">
          <i class="fas fa-2x fa-user-md m-2"></i>
        </div>
      </a>
  <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars text-white"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white h4" href="/login">Belépés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white h4" href="/regiszer">Regisztráció</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white h4" href="/law">Tudnivalók és jogi információk</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 text-white h4" method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Search"  name="search" aria-label="Search">
    </form>
  </div>
</nav>


        
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Kérjük, erősítsd meg az email címed</h1>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>